* {
	box-sizing: border-box;
}

[hidden] {
	display: none !important;
}

table {
	flex-direction: column;
	border-collapse: separate;
	border-spacing: 3px;
	border: 1px solid;
}

th, td {
	padding: 10px;
	margin: 10px;
}

body {
	display: flex;
	width: 100%;
	height: 100vh;
	margin: 0;
	font-family: "helvetica";
}

#successIndicator {
	display: block;
	margin-left: 37.5%;
	margin-top: 10%;
	text-align: center;
	padding: 10px;
	width: 25%;
	border-radius: 25px;
	box-shadow: 1px 1px 3px #000000;
}

.successful {
	background-color: green;
}

.unsuccessful {
	background-color: pink;
}

#form {
	display: block;
	width: 25%;
	margin-left: 30%;
	margin-top: 20vh;
	width: 40%;
	align-content: center;
	text-align: center;
	padding: 50px;
	border-radius: 20px;
	box-shadow: 3px 3px 5px #000000;
}

.Container {
	display: flex;
	width: 100%;
	height: 100%
	margin: 0px 0px 0px 0px;	
	z-index: 0;

	transition: backdrop-filter 0.5s ease-in-out;
}

#Navbar {
	padding: 5px;
	background-color: white;
	text-align: center;
	border-radius: 0px 10px 10px 20px;
	box-shadow: 3px 3px 5px #000000;
	
	width: 10%;
	height: 95vh;
	z-index: 1;

	transition: height 0.5s ease-out, width 0.5s ease-in-out, box-shadow 0.2s ease-in-out;
}

#Navbar:hover {
	box-shadow: 	0px 15px 20px rgba(154, 160, 185, .5),
			0px 5px 5px rgba(166,173,201,.3); 
	width: 25%;
	height: 100%;
}

.NavbarBtn {
	display: inline-block;
	margin: 8px;
	text-decoration: None;
	padding: 8px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 3px 3px 5px #000000;

	position: relative;
	padding: 5% 5%;
	background-color: gray;
	border: dashed black;
	color: white;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
		
	transform: translateY(0%);

	transition: transform 0.2s ease-out, box-shadow 0.2s ease-in-out;
}

.NavbarBtn:hover {
	transform: translateY(-5px);
	box-shadow: 	0px 15px 20px rgba(154, 160, 185, .5),
			0px 5px 5px rgba(166,173,201,.3); 
}

.neutralBtn:hover {
	background-color: skyblue;
}

.negativeBtn:hover {
	background-color: pink;
}

.positiveBtn:hover {
	background-color: lightgreen;
}

body:has(#Navbar:hover) .Container {
	backdrop-filter: brightness(50%); /* Blurs and darkens */
}

body:has(#Navbar:hover) main {
	filter: blur(8px) brightness(50%);
}

#dashboard {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
}

#adminDashboard {
	margin-left: 15%;
	display: inline-block;
	align-items: left;
}

main {
	position: absolute;
	margin-left: 15%;
	width: 85%;
	height: 100%;
	transition: filter 0.5s ease-in-out;
}

h1 {
	display: grid;
	place-items: center;
	padding: 10%;
	margin-top: -10px;
}

h4 {
	display: grid;
	place-items: center;
	padding: 5%;
	margin-bottom: 10px;
}

h6 {
	display: grid;
	place-items: center;
	padding: 5%;
	margin-top: 25px;
	margin-bottom: -25px;
}

input {
	padding: 10px;
}

select {
	padding: 10px;
	border-radius: 10px;
}

option {
	padding: 10px;
}
