* {
	box-sizing: border-box !important;
}

body {
	margin: 0px;
}

#root {
	display: flex;
	justify-content: center; /* Horizontal centering */
	align-items: center;     /* Vertical centering */
	height: 100vh;
	font-family: "helvetica";
}
